[submodule "Rendera/libs/SFML"]
	path = Rendera/libs/SFML
	url = https://github.com/SFML/SFML.git
[submodule "utilities/libs/xsimd"]
	path = utilities/libs/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
